.search_info {
    flex-grow: 1;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.time {
    margin: 5px 0px;
}
.time >h1 {
    color: coral;

}
.time >h1:nth-child(3){
    margin: 30px 0px;
}
.days {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 20px 0px;
    padding-bottom: 20px;
    width: 95%;
    border-bottom: 1px solid coral;
}
.day {
    background-color: coral;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}
h1 {
    color: coral;
}
.info_day {
    display: flex;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.info_day > div {
    margin: 10px 30px;
}
.info_day h3 {
    color: coral;

}